REACT_APP_GOOGLE_CLIENT_ID="<create a new client auth app at https://developers.google.com/identity/sign-in/web/sign-in>"
REACT_APP_PRIVATE_KEY="<This is a private key used to generate a json web token so that there is a handshake between client and api, this same value should exist on any client using this server>"